*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    animation: fondo 30s ease infinite ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@keyframes fondo {
    0%   {background-color: #F5E276;}
    20%  {background-color: #A2F576;}
    40%  {background-color: #76F5BD;}
    60%  {background-color: #A476F5;}
    80%  {background-color: #F576F5;}
    100% {background-color: #F57676;}
  }

a{
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAF8ED;
    height: 50px;
    margin-top: 10px;
}
.nav_conteiner div{
    text-align: center;
    padding: 0 10px;
    display:inline;
}
.nav_conteiner a{
    color: #000000;
}
.logo a{
    letter-spacing: 2px;
    color:rgb(0, 0, 0);
    font-size: 25px;
}
.list{
    margin: auto;
    font-size: 12px;
    
}
.list  li {
    list-style: none;
}
i {
    color: rgb(0, 0, 0);
    padding: 0 10px;
    font-size: 20px;

}
.conteiner{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 20px;
    
    
}
img{
    height: 100%;
    width: 100%;
    object-fit:cover;
}
img:hover{
    filter: drop-shadow(0px 0px 16px #FFFFFF);
}
.producto{
    height: 550px;
    padding: 10px;
    display: flex;
    flex-direction: column;

}
.producto-img{
    height: 500px;
}
.cajita{
    text-align:center;

}
footer{
    width: 100%;
    display: flex;
    background-color: #FAF8ED;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    margin-top: 25px;
    border: 8px solid #FAF8ED;
    border-radius: 33px 33px 0px 0px;
}
footer a{
    color: #000000;
    padding: 0 15px;
}
footer > div{
    margin: 15px 0;
}

/**
contenido de prueba.html
**/
.test_header{
    background-color: transparent;
    color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    order: 1000;
}
.test_logo{
    font-size: 150px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}
.test_cart{
    font-size: 15px;
    position: fixed;
    top: 10px;
    right: 32px;
}